@charset "UTF-8";
header {
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa {
    position: relative;
                        /* Toda a vez que a gente mexe em posicionamento e a gente está usando posicionamento absoluto, ele fica absoluto em relação a página, ou seja, o novo ponto inicial dele é qualquer ponto que a gente selecionou no navegador.
                        Quando eu quero que ele tenha um ponto absoluto, mas de dentro de alguma caixa, eu preciso que essa caixa levante, eu preciso que essa caixa também tenha um posicionamento, só que agora um posicionamento relativo, eu quero só que ela levante, position relative.*/
    width: 940px;
                        /* Essa largura, ela é uma largura padrão que se usa na web, porque a maioria das boas resoluções é de 1.260 pixels de largura, quando você usa 940, você está numa boa margem. */
     margin:  0 auto;
}
nav {
    position: absolute; /* Com o position: absolute, eu consigo posicionar meu elemento em qualquer lugar da página.*/
    top: 110px;
    right: 0%;
}
nav li {
    display: inline;
    margin: 0 0 0 15px; /* ou margin-left: 15px; */
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li:hover {
    border-color: #c78c19; 
}
.produtos li:active {
    border-color: #088c19;
} 
.produtos li:hover h2 {
      font-size: 34px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;    
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}
.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}